<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>LoginAccessFilter</filter-name>
  	<display-name>LoginAccessFilter</display-name>
  	<description></description>
  	<filter-class>filters.LoginAccessFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>ProfilePageAccessFilter</filter-name>
  	<display-name>ProfilePageAccessFilter</display-name>
  	<description></description>
  	<filter-class>filters.ProfilePageAccessFilter</filter-class>
  </filter>
  <servlet>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<display-name>RegistrationServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<display-name>UserServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.UserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CookieServlet</servlet-name>
  	<display-name>CookieServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.CookieServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ErrorHandler</servlet-name>
  	<display-name>ErrorHandler</display-name>
  	<description></description>
  	<servlet-class>controllers.ErrorHandler</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AsyncUpdate</servlet-name>
  	<display-name>AsyncUpdate</display-name>
  	<description></description>
  	<servlet-class>controllers.AsyncUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AsyncUpdate</servlet-name>
  	<url-pattern>/AsyncUpdate</url-pattern>
  </servlet-mapping>
  <error-page>
  <error-code>404</error-code>
  <location>/error</location>
  </error-page>
    <error-page>
  <error-code>403</error-code>
  <location>/error</location>
  </error-page>
    <error-page>
  <error-code>500</error-code>
  <location>/error</location>
  </error-page>

</web-app>
